/** classes aren't in kebab-case because it's impossible to find a class name then */

.tenthWidth {
    width: 10%;
}



.link {
    text-decoration: none;
}

.chips {
    display: flex;
    flex-wrap: wrap;
}

.chip {
    margin: 2;
}