/** classes aren't in kebab-case because it's impossible to find a class name then */

.table {
    min-width: 650;
}

.tenthWidth {
    width: 10%;
}

.buttonContainer {
    margin-top: 15px;
    width: 100%;
    text-align: right;
}

.link {
    text-decoration: none;
}

.chips {
    display: flex;
    flex-wrap: wrap;
}

.chip {
    margin: 2;
}